@{
    ViewData["Title"] = "About";
}
<h1 class="text-white">@ViewData["Title"]</h1><br />
<h3 class=" text-white">Project Created by</h3><br />
<p>Group C</p>
<p class=" text-white border border-primary">Bryan Aleman</p>
<p class=" text-white border border-success">Mark Ignatovich</p>
<p class=" text-white border border-danger">Hannah Geer</p>
<p class=" text-white border border-warning">Alexander Kruch</p>
