
<link rel="stylesheet" href="~/css/style.css" />
<div class="container2">
    <div class="calendar">
        <button type="button" id="backwards" onclick="prevCal()">previous</button>
        <button type="button" id="forward" onclick="nextCal()">Next</button>
        <div class=month>
            <div class="date">
                <h1 id="monthname"></h1>
                <p id="year"></p>
            </div>
        </div>
        <div class="daynames"></div>
        <div class="days"></div>
    </div>
</div>
<script src="~/js/calenderscript.js" asp-append-version="true"></script>