@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="image-container">
        <div class="text-center">
            <div class="text-center">
                <h1 class="text-white">
                    Orginize your Daily work
                </h1>
                <h4 class="text-white">
                    Scehdule your most import dates in one easy to use event planner. Access from multiple platform and devices. Never miss an important date agin.
                </h4>
            </div>
            <img src="~/images/orginize.jpg" class="rounded">
        </div>
    </div>
</div>

